<section class="homepage">

    <img class="roller3" src="roller3.png" />
    <img class="roller4" src="roller4.png" />
    <img class="roller2" src="roller2.png" />
    <img class="roller1" src="roller1.png" />

    <h1>Join the petition to make rollerblading
        <br />
        the only legal way to move through the city!</h1>

    <div class="buttons">
        <a href="/register">
            <div class="button">
                <p>Register to sign!</p>
            </div>
        </a>

        <a href="/login">
            <div class="button">
                <p>I already have an account</p>
            </div>
        </a>
    </div>
</section>