<section class="login">

    <div class="background">

        <h1>Login</h1>

        <form method="POST">
            <div class="loginfields">
                <p>Email * </p>
                <input type="text" name="email" required />
                <p>Password * </p>
                <input type="password" name="password" required />
            </div>

            {{{errormessage}}}

            <button><p>Login</p></button>
        </form>
        <a href="/register">Register</a>
    </div>

</section>